.div_button
    {
      height: 110px;
      border: thick double green;
      background-color: white;
    }
    .div_button:hover
    {
      opacity: 0.5;
    }

    .area
    {
      opacity: 0.8;
      margin-top: 100px;
      margin-bottom: 100px;
      box-shadow:  0px 5px 5px grey;
      background-color: beige; 
      border-radius: 35px; 
      border:green solid 1px;
      padding:30px;
    }
    #Ferraille_ou_Tresor
    {
        color: white;
        background-color: gold;
    }
    #Bon_pour_le_musee
    {
        color: white;
        background-color: brown;        
    }
    #Accessoire_vip
    {
        color: white;
        background-color:grey; 

    }
    #main
    {
      background-image: url(https://cdn.futura-sciences.com/buildsv6/images/wide1920/3/7/c/37c286b435_115315_arbre-plus-grand-sequoia.jpg);
      background-size:100%;
    }